.contact_bg1 {
    background-color: #0b0c10;
}

.contact_bg2 {
    background: linear-gradient(0deg, rgba(11, 12, 16, 0.918), rgba(11, 12, 16, 0.918)), url("../images/bg/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* height: 100vh; */
}

.form-group label {
    color: white !important;
}

.form-group input {
    background-color: #0b0c10;
    color: white;
}

.form-group .form-control {
    background-color: #0b0c10;
    color: white;
    outline: transparent !important;
}

.form-contro {
    background-color: #0b0c10;
    color: white;
    outline: transparent !important;
}

.courser {
    cursor: pointer !important;
}